<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	  style="enable-background:new 0 0 100 100;" xml:space="preserve">
<path d="M67,38c0-0.6-0.4-1-1-1H36c-0.6,0-1,0.4-1,1v24c0,0.6,0.4,1,1,1h30c0.6,0,1-0.4,1-1V38z M37,61V47h28v14H37z M65,39v6H37v-6
	H65z"/>
<circle cx="40.1" cy="42.1" r="0.9"/>
<circle cx="43.6" cy="42.1" r="0.9"/>
<circle cx="47.2" cy="42.1" r="0.9"/>
</svg>
